@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import "tailwindcss";

body {
    /*background: #0A0A0A;*/
    font-family: "Funnel Display", sans-serif;
    color: white;
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
}
